<ion-view ng-controller="statusScreenCtrl" title="Status">
	<ion-nav-buttons side="left">
        <button  menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
		<button side="right" class="button button-icon icon ion-edit adjust-size" ng-click="openModal()"></button>
	</ion-nav-buttons>

	<ion-content class="has-header" scroll= "false" > 
		<div class="card">
			<div class="item item-divider item-toggle status"> Current
				<label   class="toggle toggle-balanced">
					<input ng-model="currentStatus.checked" ng-change="statusChange()" type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<div class="item item-text-wrap">
				Awesome.
			</div>
		</div>

		<div class="card">
			<div class="item item-divider">
				Previous
			</div>

			<!-- Replace with the data comming from the storage -->
			<ion-scroll direction="y" style="height: 300pt;">
				<div class="item item-text-wrap">
					To shine like the sun, you need to burn like one.
				</div>
				<div class="item item-text-wrap">
					There are 3 types of people in the world- vegetarian, non-veterinarian & Tuesday Saturday 
				</div>
				<div class="item item-text-wrap">
					Borrow money from a pessimist- - he doesn't expect it back.
				</div>
				<div class="item item-text-wrap">
					Keep Smiling & One day Life will tired of upsetting you :)
				</div>
				<div class="item item-text-wrap">
					“You compliment someone for their mustaches, & suddenly she isn't your friend anymore. 
				</div>
				<div class="item item-text-wrap">
					Work hard in silence & let the success make noise. 
				</div>
				<div class="item item-text-wrap">
					Failure is always temporary, only giving up makes it permanent.
				</div>
				<div class="item item-text-wrap">
					Most girls ask questions only when they know the answers, so be true.
				</div>

				<div class="item item-text-wrap">
					To shine like the sun, you need to burn like one.
				</div>
				<div class="item item-text-wrap">
					There are 3 types of people in the world- vegetarian, non-veterinarian & Tuesday Saturday 
				</div>
				<div class="item item-text-wrap">
					Borrow money from a pessimist- - he doesn't expect it back.
				</div>
				<div class="item item-text-wrap">
					There are 3 types of people in the world- vegetarian, non-veterinarian & Tuesday Saturday 
				</div>
				<div class="item item-text-wrap">
					Borrow money from a pessimist- - he doesn't expect it back.
				</div>
				<div class="item item-text-wrap">
					Keep Smiling & One day Life will tired of upsetting you :)
				</div>
				<div class="item item-text-wrap">
					“You compliment someone for their mustaches, & suddenly she isn't your friend anymore. 
				</div>
				<div class="item item-text-wrap">
					Work hard in silence & let the success make noise. 
				</div>
				<div class="item item-text-wrap">
					Failure is always temporary, only giving up makes it permanent.
				</div>
				<div class="item item-text-wrap">
					Most girls ask questions only when they know the answers, so be true.
				</div>

				<div class="item item-text-wrap">
					To shine like the sun, you need to burn like one.
				</div>
				<div class="item item-text-wrap">
					There are 3 types of people in the world- vegetarian, non-veterinarian & Tuesday Saturday 
				</div>
				<div class="item item-text-wrap">
					Borrow money from a pessimist- - he doesn't expect it back.
				</div>
		
			</ion-scroll>
		</div>
	</ion-content>
</ion-view>