<ion-modal-view>
	<ion-header-bar class="bar bar-assertive">
		<h1 class="title">New Status</h1>
		<div class="buttons">
	      <button class="button button-clear" ng-click="closeModal()">Close</button>
	    </div>
	</ion-header-bar>
	<ion-content>
	<div class="card">
		<label class="item item-input item-floating-label">
			<span class="input-label" style="font-size:20px;align:middle;">Status</span>
			<input type="text" placeholder="New Status">
		</label>
		<button class="button button-block button-assertive"> Ok </button>
	</div>
		
	</ion-content>
</ion-modal-view>