<ion-view title="Settings">
	
	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content class="has-header">   
	    <ion-list>
            <ion-item class="item item-icon-left" ui-sref="app.settings.profile"> Profile.
            	<i class="icon ion-person"></i>
            </ion-item>
            <ion-item class="item item-icon-left" ui-sref="app.settings.chatSettings"> Chat Settings. 
            	<i class="icon ion-chatbox"></i>
        	</ion-item>
            <ion-item class="item item-icon-left" ui-sref="app.settings.notifications"> Notification. 
            	<i class="icon ion-speakerphone"></i>
        	</ion-item>
            <ion-item class="item item-icon-left" ui-sref="app.settings.account"> Account.
            	<i class="icon ion-key"></i>
            </ion-item>
            <ion-item class="item item-icon-left" ui-sref="app.settings.help"> Help. 
            	<i class="icon ion-help"></i>
        	</ion-item>
        </ion-list>
	</ion-content> 
</ion-view>